body {
    margin: 0px;
}

header { 
    background-color: white; 
    padding-bottom: 0px ;
}

.logodropbox {
    background-color: blue;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    
}

.dropboxtitulo 
    {
    position: absolute;
    top: 8px;
    left: 60px;
    font-size: 1.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.textowhydropbox 
    {
    position: absolute;
    top: 14px;
    left: 190px;
    font-size: 1.2em;
   }

.textoproducts 
    {
    position: absolute;
    top: 14px;
    left: 335px;
    font-size: 1.2em;
    }

.textosolutions 
    {
    position: absolute;
    top: 14px;
    left: 425px;
    font-size: 1.2em;
    }   

.textopricing 
    {
    position: absolute;
    top: 14px;
    left: 525px;
    font-size: 1.2em;
    }

.viewbox
{
    position: absolute;
    top: 10px;
    left: 970px;
    width: 40px;
   height: 30px;
}

.contact
{
    position: absolute;
    top: 14px;
    left: 1030px;
    font-size: 1.2em;
}

.getapp
{
    position: absolute;
    top: 14px;
    left: 1110px;
    font-size: 1.2em;
}

.signup
{
    position: absolute;
    top: 14px;
    left: 1200px;
    font-size: 1.2em;
}

.login
{
    position: absolute;
    top: 14px;
    left: 1280px;
    font-size: 1.2em;
}

.getstarted
{
    color: white;   
    background-color: blue;
    padding: 7px;
    padding-left: 20px;
    padding-right: 2pc;
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 1.5em;
    margin: 0px;
}

.divinicial {
    
    background-color: black;
    color: white;
    padding-bottom: 500px;


}


.textoinicial {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    width: 40%;
    margin-top: 70px;    
}

div {
    
}